/*
 HEADER / FOOTER
*/

.navbar {
	background-color: #D33F49 !important;
	position: sticky;
}

.navbar .logo {
	color: white !important;
	display: flex;
	align-items: center;
}

.logo i{
	margin-right: 0px;
	color: #212529;
	font-size: 36px;
}

.logo i:hover{
	font-size: 40px;
}

.navbar .nav-link {
	color: #212529 !important;
	margin: 0 10px;
	display: flex;
	align-items: center;
}

.navbar .nav-link:hover {
	border-bottom: 1px solid #212529;
}

.nav-item{
	display: flex;
}

.btn {
    margin: 5px;
}

footer {
	display : table-row !important;
	height: 75px;
}

footer p {
	background-color: #212529;
	color: #ccc;
	height: 100% !important;
	margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-profile:hover{
	border: inherit !important;
	font-size: 18px;
}

.img-profile{
	width: 35px;
	height: 35px;
	margin-right: 5px;
	border-radius: 50px;
}

.div-header-right{
    display: flex;
    justify-content: flex-end;
}

/*
 SERIE COMPONENT
*/

.img-serie {
    width: 15%;
    height: 15%;
}

.img-src-serie {
    width: 50px;
}

.article-serie {
    display: flex;
    flex-direction: inherit;
    margin: 25px 300px;
    border: 1px solid #ccc;
    padding: 25px;
    border-radius: 20px;
    background-color: #f2f2f2;
}

.info-serie {
    margin: 0 15px;
	width: 100%;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-det-serie {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0;
}

.summary-serie {
    text-align: justify;
}

.span-info-serie-age {
    border: 1px solid;
    padding: 3px;
    border-radius: 5px;
}

.span-info-serie-year {
    font-weight: bold;
}

.span-info-serie-creator {
    font-style: italic;
}

.info-serie-name {
	color : black !important;
	text-decoration: none !important;
}

.div-btn-actions-serie {
	display: flex;
	justify-content: flex-end;
}

.published{
	border: 1px solid #D33F49;
}

.unpublished{
	border: 2px solid green;
}

.img-edit-serie{
	display: flex;
    align-items: flex-end;
    margin-left: 10px;	
}

/*
 SEARCH COMPONENT
*/

#frmSearchSerie {
	display: flex;
	margin-top: 20px !important;
}

/*
 GENERAL APP
*/

html, body {
    margin: 0;
    height: 100%;
}

body {
	display : table;
	width: 100%;
}

.container-general{
	margin: 25px 300px;
}

h3{
	margin: 10px;
}

.btn{
	margin: 0 10px;
}

.btn-secondary {
	display: flex !important;
	justify-content: center;
	border: 1px solid white !important;
	background-color:  #D33F49 !important;
    color: white !important;
    font-weight: bold !important;
}

.btn-secondary:hover {
	color: #212529 !important;
	border: 1px solid #212529 !important;
}

.btn-primary {
	display: flex !important;
	justify-content: center;
	border: 1px solid #D33F49 !important;
    background-color: white !important;
    color: #D33F49 !important;
    font-weight: bold !important;
}

.btn-primary:hover {
	color: #212529 !important;
	border: 1px solid #212529 !important;
}

.form-control {
    margin: 10px;
}

.form-control-file{
	margin: 10px;
}

.div-btn-end {
	display: flex;
    justify-content: flex-end;
}
